* {
    margin: 0;
    padding: 0;

}


header {

    background-color: #221e1eeb;
    width: 100%;
    height: 94px;


}

#logoimg:hover {

    position: relative;
    transition: 500ms;
    transform: rotate(2.0turn);
    cursor: pointer;

}

.container-header {


    height: 40px;
    width: 132px;
    margin-left: 20%;
    display: inline-block;
}

.navegation {
    
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    /*  display: flex;*/
    margin-top: -83px;
    color: white;


}

#listnav {

    
    display: flex;
    margin-left: 45%;
    list-style: none;
    gap: 25px;
}


#listnav{

   
  
    text-decoration: none;
    font-weight: 700;
    list-style: none;

    color: white;

}

li:hover{

    cursor:pointer;
    color: red;
    transform: scale(1.20)
}

#be-premium{

    color: red;
}

.main-container {

    background-image: url(./img/HD\ wallpaper_\ white\ and\ black\ abstract\ painting\,\ digital\ art\,\ CGI\,\ render\,\ simple\ background.jpeg);
    height: 629px;
    font-family: Helvetica, Arial, sans-serif;
}




#premium-container {

    background-color: #221e1eeb;
    width: 626px;
    height: 454px;
    display: inline-block;
    text-align: center;
    margin-left: 30%;
    margin-top: 3%;
    padding: 1%;
    border-radius: 16%;
    transition: 400ms;
    box-shadow: -14px 20px 10px 0 #000000;

}

#be-premium {

    color: white;
    font-size: xx-large;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

#premium-p {

    margin-top: 43px;
    font-size: xx-large;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bolder;
    color: #009682;

}

#premium-img:hover {


    margin: auto;
    
    width: 300px;
    transition: width 0.50s;

}

.playlist-container {

    height: 380px;
    width: 100%;
    background-image: url(./img/fundo-musical-com-lugar-para-seu-texto-13843782.jpg);
    text-align: center;
    display: inline-block;

}

#playlist-title {

    color: #221e1eeb;
    font-size: xxx-large;
    margin-top: 20px;
}



#playlists {


    display: flex;
    flex-direction: row;
    gap: 150px;
    list-style: none;
    font-size: xx-large;
    margin-top: -1%;
    margin-right: 22%;
    justify-content: center;
    align-items: center;

}


#img-container {

    display: inline-block;
}


footer {

    background-color: #221e1eeb;
    text-align: center;
    height: 200px;
    width: 100%;
    display: inline-block;
  
}




#playlists:hover {

    color: red;
    font-weight: bold;
    transition: 400ms;
    transform: scale(1.20);


}

#foot-content{

    
    color: white;
    margin-top: 103px;

}